@import "tailwindcss";

html,
body {
    font-family: "Inter", sans-serif !important;
    background: white;
}

.inter {
    font-family: "Inter", sans-serif !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif !important;
}


footer h5 {
    font-family: "Nunito Sans", sans-serif !important;
}

.roboto {
    font-family: "Roboto", sans-serif !important;
}


.section-container {
    padding-left: 1.25rem;
    /* px-5 */
    padding-right: 1.25rem;
    margin-top: 60px;
}


@media (min-width: 1024px) {
    .section-container {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 160px;
    }
}


.menu-active {
    border-bottom: 1px solid #0d6efd;
    background-color: rgba(217,217,217,0.2);
}

.active-dropdown {
    color: #0495CF !important;
}


/* Progress bar animation for 5 seconds */
@keyframes progress {
    0% { width: 0%; }
    100% { width: 100%; }
}

.animate-progress {
    animation: progress 5s linear forwards;
}

.blur-sm {
    filter: blur(2px);
}


#dropdownNavbar, #WhatWeDoDropdown, #ResourcesDropdown {
        transform: translate(0px, 59px) !important;
}