@import "tailwindcss";

html,
body {
    font-family: "Inter", sans-serif !important;
    background: white;
}

.inter {
    font-family: "Inter", sans-serif !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif !important;
}


footer h5 {
    font-family: "Nunito Sans", sans-serif !important;
}

.roboto {
    font-family: "Roboto", sans-serif !important;
}

