@import "tailwindcss";

html,
body {
    font-family: "Inter", sans-serif !important;
    background: white;
}

.inter {
    font-family: "Inter", sans-serif !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif !important;
}


footer h5 {
    font-family: "Nunito Sans", sans-serif !important;
}

.roboto {
    font-family: "Roboto", sans-serif !important;
}


.section-container {
    padding-left: 1.25rem;
    /* px-5 */
    padding-right: 1.25rem;
    margin-top: 60px;
}


@media (min-width: 1024px) {
    .section-container {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 160px;
    }
}