  body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial;
  }

  swiper-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  testimonial-swiper-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  /* Bottom Slide Labels */
  .slide-tabs {
    width: 100%;
  }

  .tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: 0.3s ease;
  }

  .tab-item.active {
    opacity: 1;
    font-weight: bold;
    color: #21292C;
  }

  /* Individual mini progress bars */
  .tab-progress {
    margin-top: 5px;
    width: 100%;
    height: 4px;
    background: #E2E2E2;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  }

  .tab-progress-fill {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #0FA1DB 0%, #5C2D91 100%);
    transition: width linear;
  }