/* Wrapper */
.tabs-progress {
    position: relative;
    height: 3px;
    width: 100%;
}

.progress-bg {
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgba(44, 54, 58, 0.2);
    border-radius: 10px;
}

.progress-fill {
    position: absolute;
    height: 3px;
    width: 0%;
    background: #0FA1DB;
    border-radius: 10px;
}


/* Grey base line */
.tabs-progress .progress-bg {
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgba(44, 54, 58, 0.2);
    border-radius: 10px;
}

/* Blue fill bar */
.tabs-progress .progress-fill {
    position: absolute;
    height: 3px;
    width: 0%;
    background: #0FA1DB;
    border-radius: 10px;
    transition: width 0.3s ease;
}




/* Hide tab link icon by default */
.tabs-item img {
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

/* Show icon only when the tab is active */
.tabs-item.active img {
    opacity: 1;
    transform: translateX(0);
}


/* Hide icon by default */
.services-tabs-item .tab-link-icon {
    opacity: 0;
    transform: translateX(-4px);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

/* Show icon only on active tab */
.services-tabs-item.active .tab-link-icon {
    opacity: 1;
    transform: translateX(0);
}


/* Mobile content hidden by default */
.services-tabs-item .mobile-content {
    display: none;
}

/* Show only for active tab */
.services-tabs-item.active .mobile-content {
    display: block;
}
