---
const {Title, Heading, Certificates=[], CardGridNumber, BgImage} = Astro.props;
---

<section class="w-full bg-white grid grid-cols-12 gap-5 lg:gap-[30px]">
    <div class="space-y-[30px] lg:space-y-0 col-span-12 lg:col-span-10 lg:col-start-2 p-5 md:p-10 lg:p-20 grid grid-cols-10 rounded-3xl" style={`background-image: url('${BgImage.src}');`}>
        <div class="col-span-10 lg:col-span-4 space-y-1.5 lg:space-y-3.5 text-white lg:w-[80%]">
            <p class="font-semibold lg:text-xl">{Title || ""}</p>
            <h2 class="text-[26px] lg:text-5xl leading-[120%] font-bold">{Heading || ""}</h2>
        </div>

        <div class="col-span-10 lg:col-span-6 grid grid-cols-2 lg:grid-cols-3 gap-9 lg:gap-[30px]">
            {Certificates.map((item:any) => (
                <div class="flex justify-center">
                    <img src={item.src} alt={item.alt || "certificate"} class="w-full h-full object-contain  outline-8 outline-[rgba(18,156,216,0.2)]  rounded-xl lg:rounded-[20px]" />
                </div>
            ))}
        </div>
    </div>
</section>