---
const {Image, AltText=""} = Astro.props
---

<div class="border-4 lg:border-8 justify-items-center content-center border-[#E9F2FC] rounded-[20px] p-[30px] lg:p-[60px]">
    <img src={Image.src} alt={AltText}>
</div>