---
import Image from "../assets/images/contact-us-left-side-image.webp"
---

<section class="grid grid-cols-12  ">
    <img src={Image.src} class="hidden lg:block lg:col-span-6 rounded-l-[20px] w-full" alt="contact us">
    <div class="col-span-12 lg:col-span-6 bg-[url('../assets/images/contact-us-bg.webp')] content-center items-center rounded-l-[20px] lg:rounded-l-none rounded-r-[20px]">
        <form action="" class="space-y-5 lg:space-y-10 p-5 lg:p-[100px]">
            <h2 class="text-white text-[26px] lg:text-5xl leading-[120%] font-bold">Contact Us</h2>
            <div class="grid grid-cols-2 gap-6">
                <input type="text" name="fullname" class="border-2 border-[#4B4B4B] outline-none  col-span-2 py-2 px-3 placeholder:text-[#C3C3C3] text-white bg-[rgba(0,0,0,0.6)]" placeholder="Full Name">

                <input type="email" name="email" class="border-2 border-[#4B4B4B] outline-none col-span-2 lg:col-span-1 py-2 px-3 placeholder:text-[#C3C3C3] text-white bg-[rgba(0,0,0,0.6)]" placeholder="Email">
                <input type="tel" name="phoneNumber" class="border-2 border-[#4B4B4B] outline-none col-span-2 lg:col-span-1 py-2 px-3 placeholder:text-[#C3C3C3] text-white bg-[rgba(0,0,0,0.6)]" placeholder="Phone Number">

                <input type="text" name="company" class="border-2 border-[#4B4B4B] outline-none  col-span-2 py-2 px-3 placeholder:text-[#C3C3C3] text-white bg-[rgba(0,0,0,0.6)]" placeholder="Company">
                <textarea name="message" class="border-2 border-[#4B4B4B] outline-none col-span-2 py-2 px-3 placeholder:text-[#C3C3C3] text-white bg-[rgba(0,0,0,0.6)]" id="" placeholder="Message"></textarea>

                <button type="submit" class="border-2 border-[#4B4B4B] outline-none rounded-full w-fit text-white py-2.5 px-6 lg:px-6 col-span-2   bg-[linear-gradient(90deg,#0FA1DB_0%,#5C2D91_100%)] font-semibold  lg:font-xl">Send Message</button>
            </div>
        </form>
    </div>
</section>