---
import SectionTitle from "./SectionTitle.astro"
import FAQs from "./FAQs.astro"

const {FaqList} = Astro.props 
---

<section class="section-container grid grid-cols-12 gap-5 lg:gap-[30px]">
    <div class="col-span-12 lg:col-start-3 lg:col-span-8 xl:col-start-4 xl:col-span-6 space-y-5 lg:space-y-[30px]">
        <SectionTitle Title="Your Curiosities, Our Clarity" Heading="Frequently Asked Questions"  />
        {FaqList && (
            <div id="accordion-collapse" class="overflow-hidden text-[#212529]">
                {FaqList.map((faq:any, index:any) => (
                    <FAQs 
                        id={index}
                        Question={faq.Question}
                        Answer={faq.Answer}
                        Answer2={faq.Answer2 || ""}
                        Answer3={faq.Answer3 || ""}
                        Border={index === 0 ? "border-none" : ""}
                        AnswerList={faq.AnswerList || ""}
                    />
                ))}
            </div>  
        )}
    </div>
</section>