---
const { Link, Text } = Astro.props;
---

<a  href={Link}  class="roboto block text-[#FFFFFF] lg:text-lg font-regular hover:text-[#0FA1DB] transition-colors duration-300 ease-in-out">
    {Text}
</a>
