---
import Logo from "../assets/images/logo.svg";
---

<nav
  class="
      w-full
      bg-white z-100
      bg-neutral-primary
      fixed top-0 start-0"
>
  <div
    class="flex flex-wrap
      mx-auto p-5 lg:py-4 lg:px-[60px]
      items-center justify-between"
  >
    <a
      href="/"
      class="flex
          space-x-3
          items-center rtl:space-x-reverse"
    >
      <img src={Logo.src} class="h-[46px] lg:h-auto" alt="giriraj digital" />
    </a>
    <div
      class="inline-flex
        space-x-3 md:space-x-5 lg:space-x-3
        rtl:space-x-reverse
        md:order-2 items-center content-center"
    >
      <button
        type="button"
        class="px-3 py-2.5 lg:px-4 lg:py-3
            font-semibold leading-5
            bg-brand text-sm lg:text-base
            border border-transparent rounded-base
            bg-[#000000] rounded-full
            cursor-pointer "
        >Inquire Now</button
      >
     <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="relative inline-flex w-9 h-9 items-center justify-center lg:hidden"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>

        <!-- Hamburger -->
        <svg
          id="icon-open"
          class="absolute w-6 h-6 text-[#0FA1DB] transition-all duration-300 ease-in-out transform" 
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M5 7h14M5 12h14M5 17h14" />
        </svg>

        <!-- Close -->
        <svg
          id="icon-close"
          class="absolute w-6 h-6 text-[#0FA1DB] hidden"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M6 6l12 12M18 6l-12 12" />
        </svg>
      </button>


    </div>
    <div
      
      class="hidden
          w-full cursor-pointer
          items-center justify-between
          lg:flex md:order-1 md:w-auto transition-all duration-300 ease-in-out"
      id="navbar-cta"
    >
      <ul
      class="flex flex-col
        p-4 mt-4
        font-medium
        bg-[#F7FAFF] backdrop-blur-sm
        border border-[rgba(15,161,219,0.15)]
        rounded-2xl shadow-sm
        rtl:space-x-reverse
        md:flex-row md:p-0 lg:space-x-4 xl:space-x-8
        md:mt-0 md:bg-transparent md:border-0 md:shadow-none"
    >

        <li>
          <a
            href="#"
            class="block
                text-[#0495CF]
                bg-brand
                rounded
                text-base font-medium
                md:p-0 md:text-fg-brand md:bg-transparent"
            aria-current="page">Home</a
          >
        </li>
        <li>
          <button
            id="who-we-are-dropdown-button"
            data-collapse-toggle="mega-menu-full-dropdown"
            class="flex
                w-full cursor-pointer
                font-medium text-heading text-black
                items-center justify-between"
          >
            Who we are
            <svg
              class="w-4 h-4
                ms-1.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
              ><path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 9-7 7-7-7"></path></svg
            >
          </button>
        </li>  

        <li>
          <button
            id="what-we-do-dropdown-button"
            data-collapse-toggle="mega-menu-full-dropdown"
            class="flex
                w-full cursor-pointer
                font-medium text-heading text-black
                items-center justify-between"
          >
            What we do
            <svg
              class="w-4 h-4
                ms-1.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
              ><path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 9-7 7-7-7"></path></svg
            >
          </button>
        </li>


        <li>
          <button
            id="resources-dropdown-button"
            data-collapse-toggle="mega-menu-full-dropdown"
            class="flex
                w-full cursor-pointer
                font-medium text-heading text-black
                items-center justify-between"
          >
            Resources
            <svg
              class="w-4 h-4
                ms-1.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
              ><path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 9-7 7-7-7"></path></svg
            >
          </button>
        </li>


        <li>
          <a
            href="#"
            class="block text-black
                text-heading font-medium"
            >Career</a
          >
        </li>
      </ul>
    </div>
  </div>
  
</nav>


<script src="../assets/js/navbar.js" />
