---
import BgImage from "../assets/images/email-bg.webp"
---
<section class="section-container w-full bg-center bg-cover">
    <div class="rounded-2xl bg-[url('../assets/images/fuel-of-success-bg.webp')] bg-cover grid grid-cols-12 gap-y-5 lg:gap-[30px] p-5 lg:p-0">
        <img src={BgImage.src} class="w-1/2 lg:w-auto self-center justify-self-center col-span-12 lg:col-start-2 lg:col-span-4" alt="email">
        <div class="col-span-12 lg:col-start-7 lg:col-span-5 space-y-10 lg:py-[100px]">
            <div class="space-y-4">
                <h2 class="text-[#21292C] text-[26px] lg:text-4xl xl:text-5xl leading-[120%] font-bold  h-fit">Join 1500+ people for our free Newsletter</h2>
                <p class="text-[#2C363A] leading-[150%] font-semibold lg:text-lg ">Sign up now to receive exclusive updates, industry insights, and special offers directly to your inbox.</p> 
            </div>

            <div class="flex flex-col lg:flex-row space-y-3 lg:space-y-0 w-full">
                <input type="text" placeholder="Please Enter Your Email Address" class="bg-white py-3 w-full pl-3 lg:pl-5 outline-none placeholder:text-[rgba('33,37,41,0.7')]">
                <button class="outline-none py-3 px-[18px] lg:w-[40%] xl:w-[30%] font-semibold bg-[linear-gradient(90deg,#0FA1DB,#5C2D91)] cursor-pointer text-white">Send Message</button>
            </div>
        </div>
    </div>
</section>